
<div class="product-container">
  <img src="{{ data.src }}" alt="Image">
  <h2>{{ data.name }}</h2>
  <p class="price">{{ data.prix }} DT</p>
  <p>
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed tincidunt erat ac lacinia luctus.
    Integer vel diam nec velit aliquam aliquet vel vel justo. Nullam dapibus dapibus orci, ac consequat arcu
    imperdiet ut. In ac turpis ut tellus eleifend fermentum a in arcu.
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed tincidunt erat ac lacinia luctus.
    Integer vel diam nec velit aliquam aliquet vel vel justo. Nullam dapibus dapibus orci, ac consequat arcu
    imperdiet ut. In ac turpis ut tellus eleifend fermentum a in arcu.
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed tincidunt erat ac lacinia luctus.
    Integer vel diam nec velit aliquam aliquet vel vel justo. Nullam dapibus dapibus orci, ac consequat arcu
    imperdiet ut. In ac turpis ut tellus eleifend fermentum a in arcu.
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed tincidunt erat ac lacinia luctus.
    Integer vel diam nec velit aliquam aliquet vel vel justo. Nullam dapibus dapibus orci, ac consequat arcu
    imperdiet ut. In ac turpis ut tellus eleifend fermentum a in arcu. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed tincidunt erat ac lacinia luctus.
    Integer vel diam nec velit aliquam aliquet vel vel justo. Nullam dapibus dapibus orci, ac consequat arcu
    imperdiet ut. In ac turpis ut tellus eleifend fermentum a in arcu. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed tincidunt erat ac lacinia luctus.
    Integer vel diam nec velit aliquam aliquet vel vel justo. Nullam dapibus dapibus orci, ac consequat arcu
    imperdiet ut. In ac turpis ut tellus eleifend fermentum a in arcu. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed tincidunt erat ac lacinia luctus.
    Integer vel diam nec velit aliquam aliquet vel vel justo. Nullam dapibus dapibus orci, ac consequat arcu
    imperdiet ut. In ac turpis ut tellus eleifend fermentum a in arcu. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed tincidunt erat ac lacinia luctus.
    Integer vel diam nec velit aliquam aliquet vel vel justo. Nullam dapibus dapibus orci, ac consequat arcu
    imperdiet ut. In ac turpis ut tellus eleifend fermentum a in arcu. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed tincidunt erat ac lacinia luctus.
    Integer vel diam nec velit aliquam aliquet vel vel justo. Nullam dapibus dapibus orci, ac consequat arcu
    imperdiet ut. In ac turpis ut tellus eleifend fermentum a in arcu. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed tincidunt erat ac lacinia luctus.
    Integer vel diam nec velit aliquam aliquet vel vel justo. Nullam dapibus dapibus orci, ac consequat arcu
    imperdiet ut. In ac turpis ut tellus eleifend fermentum a in arcu. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed tincidunt erat ac lacinia luctus.
    Integer vel diam nec velit aliquam aliquet vel vel justo. Nullam dapibus dapibus orci, ac consequat arcu
    imperdiet ut. In ac turpis ut tellus eleifend fermentum a in arcu. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed tincidunt erat ac lacinia luctus.
    Integer vel diam nec velit aliquam aliquet vel vel justo. Nullam dapibus dapibus orci, ac consequat arcu
    imperdiet ut. In ac turpis ut tellus eleifend fermentum a in arcu.
  </p>

</div>
